<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100203574419-ujlaodkrfiqgsc0gsto1i6igcrrnlcrb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100203574419-ujlaodkrfiqgsc0gsto1i6igcrrnlcrb</string>
	<key>API_KEY</key>
	<string>AIzaSyDP2QCcqoYy6eTfW7LIuQYWXhFF73GtwkA</string>
	<key>GCM_SENDER_ID</key>
	<string>100203574419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tempest</string>
	<key>PROJECT_ID</key>
	<string>tempo-17b12</string>
	<key>STORAGE_BUCKET</key>
	<string>tempo-17b12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100203574419:ios:e1203528af3eb4c06bc966</string>
</dict>
</plist>